#main{
  border: 1px solid black;
  width: 800px;
  height: 600px;
}
#container{

display: flex;
flex-direction: row;
width: 800px;
height: 550px;
}
#findWordCon{
  border: 1px solid black;
  padding-left: 10px;
  width: 160px;
  height: 550px;
}
#puzzlecon{
  
  width: inherit;
  height: 550px;
}
#table{
  width: 350px;
  display: grid;
  grid-template-columns: repeat(17,1fr);
  
}
.wordswhite{
  border: 1px solid black;
  width: 21px;
  height: 21px;
  text-align: center;
}
.wordsyellow{
  border: 1px solid black;
  width: 21px;
  height: 21px;
  text-align: center;
  background-color: yellow;

}
.strike{
  text-decoration: line-through;
}